//** Grid
.grid {
  display: grid;
  column-gap: 3.6rem;
  row-gap: 4.8rem;
}

.grid--1-3cols {
  grid-template-columns: 2fr 1fr;
}

// utils
.margin-left--auto {
  margin-left: auto;
}

//** Flex
.one-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//** Heading
.heading-primary {
  display: flex;
  align-items: center;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.2;
  color: #333;
  margin-bottom: 1.6rem;

  ion-icon {
    font-size: 2.4rem;
  }
}

.heading-secondary {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  color: #333;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2;
  color: #333;
  display: flex;
  justify-content: space-between;
}

.subheading {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2;
  color: #333;
  margin-bottom: 1.2rem;
}

//** Button
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  line-height: 1.2;
  text-decoration: none;
  border-radius: 0.8rem;
  border: 2px solid #353535;
  color: #353535;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.btn:hover,
.btn:focus {
  background-color: #353535;
  border-color: #eab308;
  color: #eab308;
}

.btn--small {
  padding: 0.6rem 1.2rem;
  font-size: 1.4rem;
  display: block;
  width: 100%;
}

//** Table
.table {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);

  ion-icon:hover {
    cursor: pointer;
  }
}

.table__heading {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;

    ion-icon {
      font-size: 2.4rem;
    }

    // date input
    input {
      font-size: 1.6rem;
      font-family: inherit;
      color: #333;
      border: 1px solid #eab208b5;
      border-radius: 0.8rem;
      margin-right: auto;
    }

    input:focus {
      outline: none;
    }
  }
}

.table__header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  color: #262626;
  padding-bottom: 1.2rem;
  text-align: start;
}

.table__header div {
  width: 30%;
}

.table__body {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 2.2rem;
  // overflow-y: scroll;
}

.table__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto auto;
  align-items: center;
  gap: 0 1.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #262626;
  // padding: 1.2rem;
  border: 1px solid #eaecee;
  border-radius: 3px;

  ion-icon {
    font-size: 2.4rem;
  }
}

.table__cell:hover {
  cursor: pointer;
}

//**
.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
  margin-top: 2.4rem;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 3px;
  padding: 1.6rem 1.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &__price {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.2;
    color: #333;
  }

  &__name {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
  }

  ion-icon {
    font-size: 3.6rem;
    margin-bottom: 1.4rem;
  }

  &--shopping {
    color: #555;
  }
}

//** Small list
.small-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 0.8rem;
  background-color: #fff;
  margin-top: 0.8rem;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__name {
    font-size: 1.5rem;
  }

  &__date {
    font-size: 1.1rem;
    color: #777;
  }

  &__price {
    font-size: 1.3rem;
    color: #4ade80;
    font-weight: 400;
    margin-left: auto;
    margin-right: 0.4rem;
  }

  &__icon {
    font-size: 1.8rem;
    color: #ef4444;
    border: 1.5px solid;
    padding: 0.6rem;
    border-radius: 50%;
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    padding: 0.6rem;
    border: 1px solid #eaecee;
    border-radius: 3px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    }
  }
}

//** Popup
.hidden {
  visibility: hidden;
}

.disabled {
  visibility: hidden;
}

.closed {
  visibility: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // max-width: 40rem;
  background-color: #fff;
  border-radius: 3px;
  padding: 2.4rem;
  z-index: 11000;

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.6rem;

    .right-side {
      // label {
      //   gap: 1.6rem;
      //   font-size: 1.6rem;
      //   font-weight: 500;
      //   color: #262626;
      //   margin-bottom: 0.8rem;
      // }

      // input {
      //   font-size: 1.6rem;
      //   font-weight: 500;
      //   color: #262626;
      //   border: 1px solid #eaecee;
      //   border-radius: 3px;
      //   padding: 0.8rem 1.6rem;
      //   width: 100%;
      //   margin-bottom: 1.6rem;
      // }

      .btn {
        font-size: 1.6rem;
      }
    }

    .left-side {
      .icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 1.6rem;
        margin-bottom: 1.6rem;
      }

      .icon {
        height: 6.4rem;
        width: 6.4rem;
        padding: 0.8rem;
        font-size: 2.4rem;
        border: 1px solid #eaecee;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__form--one {
    grid-template-columns: 1fr;
    width: 30rem;

    label {
      display: block;
      font-size: 1.6rem;
      font-weight: 500;
      color: #262626;
      margin-bottom: 0.8rem;
    }

    input {
      font-size: 1.6rem;
      font-weight: 500;
      color: #262626;
      padding: 0.2rem 0.4rem;
      width: 100%;
      margin-bottom: 1.2rem;
    }

    // change input type checkbox
    input[type='checkbox'] {
      width: auto;
      margin-left: auto;
    }

    textarea {
      font-size: 1.6rem;
      font-weight: 500;
      color: #262626;
      padding: 0.2rem 0.4rem;
      width: 100%;
      margin-bottom: 1.2rem;
      min-height: 10rem;
    }

    .btn {
      margin-top: 1.2rem;
    }
  }
}

// loader
.loader {
  height: 12rem;
}

.loader--container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.table__cell {
  padding: 1.2rem;
}

// note
.note {
  grid-column: 1 / -1;
  padding: 0.8rem 2.4rem;
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  background: #353535;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.note__content {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

// utils
.flex {
  display: flex;
  justify-content: space-between;
}

.flex--center {
  align-items: center;
}
