.port_overlay {
  position: absolute;
  height: 50%;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #f8fafc;

  border-radius: 1.2rem;
  padding: 1.6rem;

  display: grid;
  grid-template-rows: fit-content(100%) 1fr;

  gap: 1.6rem;
}

.port_overlay_top {
  display: flex;
  justify-content: space-between;
}

.port_overlay_title {
  font-size: 1.8rem;
  font-weight: 500;
}

.port_overlay_close {
  font-size: 1.6rem;
  color: #000;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
}

.form_group {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.input {
  padding: 0.8rem;
  border-radius: 0.8rem;
  border: 1px solid #0000002c;
}

.option {
  padding: 0.8rem;
  border-radius: 0.8rem;
  border-bottom: 1px solid #0000002c;
}

.members {
  height: 100%;
}

.button {
  margin-top: auto;
}

.icons {
  height: 100%;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);

  gap: 1.6rem;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  font-size: 2.4rem;
  color: #000;

  padding: 0.8rem;
  border-radius: 0.8rem;
  border: 1px solid #0000002c;

  transition: all 0.2s ease-in-out;
}

.icon:hover {
  cursor: pointer;
}

.icon_input {
  position: absolute;
  z-index: -1;
}
