.chart {
  padding: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 35%;

  gap: 2.4rem;
}

.card {
  border-radius: 1.2rem;
  box-shadow: rgba(99, 99, 99, 0.149) 0px 2px 8px 0px;
  background-color: #fff;
}

.circle {
  padding: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  border-radius: 1.2rem;
  box-shadow: rgba(99, 99, 99, 0.149) 0px 2px 8px 0px;
  background-color: #fff;
}
