.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.login__logo {
  color: #333;
  align-items: center;
  gap: 1rem;
  padding: 1.6rem 2.4rem;
  font-size: 2.4rem;
  font-weight: 500;
  display: flex;
}

.login__logo img {
  height: 3.2rem;
}

.error_text {
  color: red;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.login__content_box {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1.6rem;
}

.login__box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.heading__primary {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.2;
  color: #333;
  margin-bottom: 1.6rem;
}

.subheading {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2;
  color: #333;
  margin-bottom: 1.2rem;
}

/* Form */
.login__container {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

.login__label {
  width: 100%;
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  color: #262626;
  padding-bottom: 0.4rem;
  text-align: start;
}

.login__input {
  display: block;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  line-height: 1.2;
  text-decoration: none;
  border-radius: 0.8rem;
  border: 1px solid #777;
  color: #333;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  margin-bottom: 0.8rem;
}

.btn {
  margin-top: 1.2rem;
  width: 100%;
  font-size: 1.8rem;
  text-align: center;
  padding: 1.2rem 0;
  border-radius: 0.8rem;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.login__text {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
  color: #333;
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.8rem;
}

.btn:hover {
  background-color: #222;
}

.guest {
  background-color: #dcdc16;
  color: #333;
}

.guest:hover {
  background-color: #c8c814;
}

.login__image {
  background-image: url('https://images.unsplash.com/photo-1554224155-6726b3ff858f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1611&q=80');
  background-size: cover;
  background-position: center;
}
