.loading {
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f8fafc83;
  color: #353535;
}

.loading_img {
  height: 12rem;
  width: 12rem;
}
