.sidebar__user {
  position: relative;
}

.sidebar__icon {
  font-size: 2.4rem;
  color: #ffcb03;
}

/* Members list begin */

.members_overlay {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.members_menu {
  position: absolute;
  top: 7%;
  left: 17%;

  background-color: #606971;
  z-index: 3;

  width: 22rem;

  border-radius: 0.8rem;

  display: flex;
  flex-direction: column;
  align-items: start;
}

.members_menu_title {
  color: #eaeced;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.1rem;

  padding-top: 0.8rem;
  padding-left: 1.2rem;
  padding-bottom: 0.8rem;
}

.members_menu_btn {
  border: 1px solid #f8fafc;
  background: none;
  width: 100%;
  font-size: 1.4rem;
  padding: 0.4rem 0.8rem;

  border-radius: 0.2rem;
}

.sidebar__user_list {
  list-style: none;
  padding-bottom: 0.8rem;

  display: flex;
  flex-direction: column;

  width: 100%;
}

.sidebar__user_item {
  cursor: pointer;
}

.sidebar__user_link {
  color: #f8fafc;
  background-color: #606971;
  font-size: 1.6rem;

  display: flex;
  align-items: center;
  gap: 0.8rem;

  padding: 0.8rem 1.6rem;
}

.sidebar__user_link:hover {
  background-color: #f8fafc;
  color: #606971;
}

.sidebar__user_delete {
  color: #f68503;
  font-size: 1.4rem;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: auto;
}

.line {
  border: 1px solid #524b4b;
  width: 100%;
  height: 0.1rem;
  margin: 0.8rem 0;
}

/* Members list end */

.overlay {
  height: 100vh;
  width: 100vw;
  background-color: #252525;
  opacity: 0.5;
  position: relative;
}

.port_overlay {
  position: absolute;
  height: 50%;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #f8fafc;

  border-radius: 1.2rem;
  padding: 1.6rem;

  width: 40rem;
  height: fit-content;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.port_overlay_top {
  display: flex;
  justify-content: space-between;
}

.port_overlay_title {
  font-size: 1.8rem;
  font-weight: 500;
}

.port_overlay_close {
  font-size: 1.6rem;
  color: #000;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.port_overlay_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.create_overlay_img {
  height: 8rem;
  width: 8rem;

  border-radius: 50%;

  margin-bottom: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 90%;
}

label {
  font-size: 1.4rem;
  font-weight: 500;
}

.input {
  padding: 0.8rem;
  border-radius: 0.8rem;
  border: 1px solid #0000002c;
}

.btn {
  padding: 0.8rem;
  margin-top: 1.2rem;
  border-radius: 0.8rem;
  border: 1px solid #0000002c;
  background-color: #f8fafc;
  color: #000;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
